       <style>
        body{
            background:#eee;
            font-family: Georgia, serif;
        }

        h1{
            text-align:center;
            margin-top:20px;
        }

        .container{
            display:grid;
            grid-template-columns: repeat(3,1fr);
            gap:80px;
            padding:50px;
        }

        .box h2{
            margin-bottom:5px;
        }

        button{
            width:300px;
            height:60px;
            background:red;
            color:white;
            border:3px solid black;
            font-size:20px;
            cursor:pointer;
            box-shadow:10px 10px 20px gray;
        }

        input{
            width:300px;
            height:60px;
            font-size:20px;
        }
</style>
